.header{
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.header__nav-bar{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    width: 36%;
    justify-content: space-between;
    margin-right: 317px;
}
@media screen and (max-width: 1100px) {
  .header__nav-bar {
    width: 50%;
    margin: 0;
  }
}

.header__nav-link{
    flex-grow: 1;
    color: black;
    transition: opacity 0.5s linear;
    text-decoration: none;
}
.header__nav-link:hover{
  opacity: 60%;
  cursor: pointer;
}

.header__button{
 width: 87px;
 height: 48px;
 border: 1px solid #4F46E5;
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: opacity 0.5s linear;
 cursor: pointer;
}
.header__button:hover{
  opacity: 60%;
  cursor: pointer;
}

.header__button-label{
 color: #4F46E5;
 font-size: 16px;
 font-weight: 500;
 text-decoration: none;
 margin: 0;
}