@import url(./vendor/normalize.css);
@import url(./vendor/fonts/notoSans/fonts.css);

body {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif, 'Courier New';
  color: black;
  width: 100vw;
  min-height: 100vh;
  background-color: #F3F3FF;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  background-color: white;
  background-image: url('./images/rolls.svg');
  background-size: cover;
  background-position-x: 103px;
  background-position-y: -125px;
  flex: 1;
  margin: 0 auto;
  padding: 0 0 40px;
}