@import url(./vendor/normalize.css);

body {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif, 'Courier New';
  color: black;
  width: 100%;
  min-height: 100vh;
  background-color: #F3F3FF;
}